@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700;800;900&family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700;800;900&family=Space+Grotesk:wght@400;600;700&display=swap');

:root {
    --snow10: #ffffff;
    --snow20: #f8f9fa;
    --snow30: #e6eaea;
    --snow40: #e4e6eb;
    --gray10: #b0b3b8;
    --gray20: #8e8e8e;
    --gray30: #9aa0a6;
    --gray40: #5f6368;
    --gray50: #606060;
    --dark40: #3c4043;
    --dark50: #3a3b3c;
    --dark60: #242526;
    --dark70: #18191a;
    --dark80: #10100f;
    --dark90: #000000;
    --dark00: #000000db;
    --energy: #f44336;
    --error: #dc3545;
    --firebrick: #dc3545;
    --forest: #1e8e3e;
    --moto: #e3d454;
    --primary: #0066b2;
    --secondary: #f2d621;
    --rich: #a16fc3;
    --sky: #1a73e8;
    --starbucks: #00754a;
    --success: #27ae60;
    --grad10: linear-gradient(60deg, #faffd1 0%, #a1ffce 74%);
    --grad20: linear-gradient(60deg, #3494e6 0%, #ec6ead 74%);
    --grad30: linear-gradient(60deg, #cfdef3 0, #e0eafc 74%);
    --grad40: linear-gradient(60deg, #005c97 0%, #363795 74%);
    --grad50: linear-gradient(60deg, #e25c5a 0%, #e35d5b 74%);
    --grad60: linear-gradient(30deg, #eef2f3 0%, #8e9eab 74%);
    --grad70: linear-gradient(315deg, #726cf8 0%, #e975a8 74%);
    --grad80: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
    --grad90: linear-gradient(180deg,#6edcc4, #1aab8b);
    --grad100: linear-gradient(315deg, #7f53ac 0%, #647dee 74%); 
    --grad110: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%); 
}

:root {
    --bar10: 56px;
    --bar20: 62px;
    --bar30: 68px;
    --border10: 1px solid #0000001a;
    --border20: 2px solid #0000001a;
    --borderdark10: 1px solid var(--dark50);
    --borderdark20: 2px solid var(--dark50);
    --border-focus: 1px solid var(--primary);
    --ease10: 100ms ease-in-out;
    --ease20: 200ms ease-in-out;
    --ease30: 300ms ease-in-out;
    --ease40: 400ms ease-in-out;
    --ease50: 500ms ease-in-out;
    --typeface:
        'IBM Plex Sans', 
        'Inter',
        'Segoe UI', 
        sans-serif;
    --typeface-secondary:        
        'Inter',
        'Syne', 
        'Segoe UI',
        sans-serif;
    --space10: .25rem;
    --space20: .5rem;
    --space30: .75rem;
    --space40: 1rem;
    --space50: 2rem;
    --space90: 8rem;
    --radius-xxs: .125rem; 
    --radius-xs: .25rem;
    --radius-sm: .5rem;
    --radius-md: .75rem;
    --radius50: 50px;
    --radius90: 50%;
    --shadow: 0 0 20px #00000014;
    --shadow-main: 2px 4px 12px rgb(0 0 0 / 8%);
    --text-gradient: linear-gradient(315deg, var(--primary) 0%, var(--secondary) 74%);
    --text20: 10px;
    --text30: 12px;
    --text40: 14px;
    --text50: 16px;
    --text60: 18px;
    --xxs: .25rem;
    --xs: .5rem;
    --sm: .75rem;
    --md: 1rem;
    --lg: 1.125rem;
    --xl: 1.5rem;
    --xxl: 1.75rem;
    --xxxl: 3.5rem;
    --zoom00: scale(0);
    --zoom10: scale(1);
    --zoom20: scale(2);
    --zoom30: scale(3);
    --zx10: 1100;
    --zx20: 1200;
    --zx30: 1300;
    --zx40: 1400;
    --zx50: 1500;
}

*, ::after, ::before {
    box-sizing: border-box;
    outline: none;
    touch-action: manipulation;
}

html, 
body {
    width: 100%;
    height: 100%;
    min-height: 360px;
    padding: 0;
    margin: 0;
    font: {
        size: var(--text60);
        weight: 500;
        family: var(--typeface);
    }
    text-rendering: optimizeSpeed;
    line-height: 1.333;
    color: var(--dark40);
    background: var(--snow10);
    @media (prefers-color-scheme: dark){
        color: var(--snow20);
        background: var(--dark70);
    }
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    position: relative;
    display: inline-flex;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font: {
        size: inherit;
        family: inherit;
    }
    background: none;
    -webkit-tap-highlight-color: transparent;

    &:focus {
        outline: none;
    }
}

h1, h2, h3, h4, h5 {
    font: {
        size: var(--text60);
    }
}


h1, h2, h3, h4, h5, figure, blockquote, dl, dd, form {
    padding: 0;
    margin: 0;
}

input, select, textarea {
    border: none;
    outline: none;
    background: none;
    
    &:focus {
        outline: none;
        border: none;
    }
}

p, pre, small, span, time {
    display: inline-block;
    padding: 0;
    margin: 0;
    line-height: 24px;
}

small {
    font-size: var(--text30);
    line-height: 20px;
}

br {
    display: block;
    @media only screen and (min-width: 1024px){
        display: block;
    }
}

ul[role='list'],
ol[role='list'] {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    list-style-type: none;
}

a {
    display: block;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    color: var(--dark40);
    @media(prefers-color-scheme: dark){
        color: var(--snow20);
    }
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &:not([class]) {
        text-decoration-skip-ink: auto;
    }
}




